<header class="flex justify-between items-center p-1 bg-dark-300">
  <a href="{{"/" | url}}" class="logo">Tadam</a>
  <a href="{{ "/blog/" }}">Docs</a>
  <a href="https://github.com/AndiKod/tadam11ty">
    <img src="{{ " /assets/img/github.svg" | url }}" alt="GitHub"/>
  </a>
</header>

