
<header class="homeHeader">
  <h1 class="siteTitle">
    <a href="{{"/" | url}}">{{ metadata.title }}</a>
  </h1>
  <h2>{{ metadata.tagline }}</h2>
  <a href="https://github.com/AndiKod/tadam11ty">
    <img src="{{ " /assets/img/github.svg" | url }}" alt="GitHub"/>
  </a>
</header>
