<!-- Anime.js
*  Lightweight JavaScript animation library with a simple, yet powerful API.
*  https://animejs.com/documentation/
-->

<script defer src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js"></script>