<!-- Chart JS
*  Simple yet flexible JavaScript charting for designers & developers
*  https://www.chartjs.org/docs/latest/
-->

<script defer src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>