<!-- Granim
*  Fluid and interactive gradient animations library.
*  https://sarcadass.github.io/granim.js/examples.html
-->

<script  src="https://cdnjs.cloudflare.com/ajax/libs/granim/2.0.0/granim.min.js"></script>