<!-- OpenProps
*  Supercharged CSS variables.
*  https://open-props.style/#getting-started
-->

<!-- index.html -->
<link rel="stylesheet" href="https://unpkg.com/open-props"/>
<link rel="stylesheet" href="https://unpkg.com/open-props/normalize.min.css"/>