<!-- TaffyDB
*  Opensouce library that brings database features into your JavaScript applications.
*  https://taffydb.com
-->

<script defer src="https://github.com/typicaljoe/taffydb/raw/master/taffy.js"></script>