<!-- https://unocss.dev/integrations/runtime -->

<script>
  window.__unocss = {
    rules: [
      // custom rules...
    ],
    presets: [
      presetUno(),
    ],
    // ...
  }
  </script>
  <!-- ... and then load the runtime -->
  <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>