<!-- Water CSS
*  A drop-in collection of CSS styles 
*  to make simple websites... just a little bit nicer.
*  https://watercss.kognise.dev
-->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
