---
title: Blog 
layout: base
permalink: /blog/
---


<main class="tmpl-post">
  <h3>Last 2 posts</h3>
  {% set postslist = collections.posts | limit(-2) %}
  {% include "components/postslist.njk" %}

  <h3>All posts (aka Archives)</h3>
  {% set postslist = collections.posts %}
  {% include "components/postslist.njk" %}
</main>
