---
title: Tags
layout: post
permalink: /tags/
---
<h1>{{page.data.title}}</h1>
<p>All tags except those filtered in the config</p>

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}
