---
title: "AlpineJS"
permalink: "/alpine/"
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  {% include 'pkg/milligram.njk' %}
</head>
<body class="p-8" x-data="{ Foo: 'I ❤️ Alpine' }">
  <h1>{{ title }}</h1>
  <p x-text="Foo"></p>
</body>
</html>
