---
title: "React Fluffy"
permalink: "/sandbox/"
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Tadam Sandbox</title>
    {% include 'pkg/milligram.njk' %}
    <link rel="stylesheet" href="{{ "/css/sandbox/main.css" | url }}">
  </head>
  <body>
    <div class="App">
      <h1>Sandbox</h1>
      <p>Here, some placeholder setups to play with. Have fun.</p>
      <ul>
        <li><a href="{{ "/vue" | url }}">Vue</a></li>
        <li><a href="{{ "/hyper" | url }}">Hyper</a> </li>
        <li><a href="{{ "/alpine" | url }}">Alpine</a> </li>
      </ul>

      <p>Edit/Delete files within src/pages/sandbox, or make new ones there.</p>
    </div>


    <style media="screen">
      .App {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
      }

      .App > h1 {
        font-size: 6rem;
        font-weight: 600;
        margin-bottom: 6px;
      }
    </style>
  </body>
</html>
