---
title: "React Fluffy"
permalink: "/sandbox/"
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Add React in One Minute</title>
    {% include 'pkg/milligram.njk' %}
    <link rel="stylesheet" href="{{ "/css/sandbox/main.css" | url }}">
  </head>
  <body>
    <div class="App">
      <h1>Sandbox</h1>
      <p>Here, some placeholder setups to play with. Have fun.</p>
      <ul>
        <li><a href="{{ "/vue" | url }}">Vue</a></li>
        <li><a href="{{ "/react" | url }}">React</a> </li>
        <li><a href="{{ "/hyper" | url }}">Hyper</a> </li>
      </ul> 

      <p>Edit/Delete files within src/pages/sandbox, or make new ones there.</p>  
    </div>
  </body>
</html>