---
title: "React Fluffy"
permalink: "/react/"
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Add React in One Minute</title>
    {% include 'pkg/milligram.njk' %}
    {% include 'pkg/windi.njk' %}
  </head>
  <body>
  <a href="{{ "/sandbox" | url }}"> <- Sandbox</a>


    <!-- React component inside -->
    <div id="reactLikeButton" class="App"></div>

    {% include 'pkg/react-dev.njk' %}
    <!-- Load our React component. -->
    <script src="{{ "/assets/js/sandbox/reactComponent.js" | url }}"></script>

  </body>
</html>