---
layout: layouts/base.njk
templateClass: tmpl-post
---
{% set postdate = page.date %}

<article>
  <header>
    <h1>{{ title }}</h1>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>

    <section>
      {%- for tag in tags | filterTagList -%}
      {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
      <a href="{{ tagUrl | url }}" class="itemTag">{{ tag }} </a>
      {%- endfor %}
      <!--
      <time datetime="{{ page.date }}">
        Posted on: {{ postdate | readableDate }}
      </time>
       -->
    </section>

    <nav>
      {%- if collections.posts %}
        {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
        {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
        {%- if nextPost or previousPost %}
          <ul class="nextPrev">

            {%- if previousPost %}<li><< <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}

            <li><a href="{{ '/blog' | url }}">Archives</a></li>

            {%- if nextPost %}
            <li><a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a> >></li>
            {% endif %}

          </ul>
        {%- endif %}
        {%- endif %}
    </nav>
  </footer>
</article>
