<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }}{% else %} Frontend Sandbox{% endif %}</title>
  <meta name="description" content="Frontend Sandbox">
  <link rel="icon" type="image/x-icon" href="{{ "/assets/img/tadam.svg" | url }}">
  <!-- Use that layout to prototype things using CDN packages -->
  {% block pkg %}{% endblock pkg %}
  <script src="{{ '/assets/js/main.js' | url }}" defer></script>
</head>
<body {% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
  {{ content | safe }}
</body>
</html>
