---
title: "Tadam11ty"
layout: "layouts/base.njk"
permalink: "/"
---



<main class="w-11/12 mx-auto mt-35">
  <section>
    <h2>Easy to pick up, playground or projectStarter:</h2>
    <ul>
      <li>SCSS & WindiCSS out of the box. Clear folder structure. Always clean config.</li>
      <li>Separate lib folder for the Filters and Shortcodes. One click deploy to Vercel/Netlify.</li>
    </ul>
  </section>
  <section class="mt-4">
    <h2>Nothing imposed, all available with one line:</h2>
    <ul>
      <li>Bootstrap, Foundation, Bulma, Milligram, UIKit, ... React, Vue, Alpine, Mithril, Hyperscript, AnimeJS, Chart, Masonry, ...</li>
    </ul>
  </section>

</main>



