---
title: "Tadam11ty"
layout: "home"
permalink: "/"
eleventyNavigation:
  key: Home
---

<header class="home-header text-center flex justify-center items-center flex-col"> 
  <a href="{{"/" | url }}" class="logo">
    <img src="https://mediastore-sable.vercel.app/tadam/tadam11ty.png" alt="Tadam" >
  </a>
  <hgroup class="p-8">
    <h1 hidden>{{ metadata.title }}</h1>
    <h2>{{ metadata.tagline }}</h2>
  </hgroup>
  <a href="https://github.com/AndiKod/tadam11ty">
    <img src="{{ " /assets/img/github.svg" | url }}" alt="GitHub"/>
  </a>
</header>

<p class="mint font-bold text-xl mt-8">CSS flavors, JS libraries, Snippets and more.</p>


  

