/* Colors & Images */

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.logo img {
  width: 25vw;
  min-width: 200px;
}

.siteTitle {
  color: var(--color-title);
}

a {
  color: var(--color-link);

  &:visited {
    color: var(--color-link);
  }
}

.itemTag {
  background-color: darkolivegreen;
  &:visited{
    color:antiquewhite;
  }
}
