/* _layout.scss */


// Home page
.home-header{
  width: 90vw;
  margin: 0 auto;
  padding-top: 15vh;
  text-align: center;
}
.tmpl-home {
  padding-top: 10vh;
  text-align: center;
}



article {
  display: flex;
  flex-direction: column;
  height: auto;
}
article > main {
  padding-bottom: 2rem;
}
.itemTag {
  padding: 4px 8px;
  margin-right: .5rem;
  border-radius: 4px;
}
.nextPrev {
  display: flex;
  justify-content: space-around;
}
