@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poiret+One&display=swap');

body {
  font-family: Lato, sans-serif;
  font-size: 0.9rem;
}

h1, h2, h3 {
  font-family: 'Poiret One', cursive;
  font-style: normal;
}

.siteTitle {
  font-weight: bolder;
  font-size: 3rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
