/* Import partials */
@use '_reset.scss';
@use '_variables.scss';
@use '_typography.scss';
@use '_layout.scss';
@use '_colors.scss';

/* OpenProps¨- http://open-props.style */
@import "https://unpkg.com/open-props";

.tmpl-home, .tmpl-post {
  width: 90vw;
  margin-inline: 0 auto;
}

/* Colors from OpenProps */
.mint {
  color: var(--green-9);
}
