@import "https://unpkg.com/open-props";

@import '_reset.scss';
@import '_variables.scss';
@import '_typography.scss';
@import '_layout.scss';
@import '_colors.scss';


.tmpl-home, .tmpl-post {
  width: 90vw;
  margin-inline: 0 auto;
}

/* Colors from OpenProps */
.vert {
  color: var(--lime-8);
}
